<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Travel Locations</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="../public/css/style.css">
		<link rel="stylesheet" href="../public/css/travelLocations.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		
		<script src="../public/js/controllers/TravelLocationController.js"></script>
		<script src="../public/js/controllers/LocationFeatureController.js"></script>
		<script src="../public/js/controllers/FeatureRatingController.js"></script>
		
		<script src="../public/js/services/TravelLocationService.js"></script>
		<script src="../public/js/services/LocationFeatureService.js"></script>
		<script src="../public/js/services/FeatureRatingService.js"></script>
		
		<script src="../public/js/core.js"></script>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEGZ6aB8yHrRaRQfHFt8iZZP-9N_Kz3-g&extension=.js"></script>
		<script src="../public/js/ng-map.js"></script>
	</head>
	<body ng-controller="mainController">
		<div class="container">
	
			<div id="upper_map">
				<ng-map center="41,-87" zoom="3"></ng-map>
			</div>
			<div id="controls">
				
				<div id="controls_title">
					I'm Feeling Lucky
				</div>
				<div id="controls_subtitle">
					Select an area on the map!
				</div>
				
				<div id="query_controls">
					<label>How would you like your locations ranked?</label>					
					<ul>
						<li><input type="radio" /> Highest average feature rating</li>
						<li><input type="radio" /> Highest number of features</li>
					</ul>
					
					<button id="submit" class="btn" ng-click="search()">
						Submit	
					</button>
				</div>
				
				<div id="location-list">
					<label>
						Results
					</label>
					<div class="col-sm-4 col-sm-offset-4">
		
						
						<div ng-repeat="location in locations">
							<label>
								<input type="checkbox" ng-click="highlightLocation(location._id)"> {{ location.name }}
							</label>
						</div>
		
						<p class="text-center" ng-show="loading">
							<span class="fa fa-spinner fa-spin fa-3x"></span>
						</p>
		
					</div>
				</div>
				
				


			</div>
	
		</div>
	
	</body>
</html>