<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CIS 550 Final Project</title>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap-social.css" rel="stylesheet">
</head>
<body>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1984894625096320',
            xfbml: true,
            version: 'v2.12'
        });
        FB.Event.subscribe('auth.login', function () {
            window.location.href = "travelLocations.html";
        });
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                // the user is logged in and has authenticated your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
            } else if (response.status === 'not_authorized') {
            } else {
            }
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="container">
    <div id="overlay">
        <!--Mask-->
        <div class="view">
            <div class="full-bg-img flex-center mask rgba-stylish-light white-text">
                <ul class="animated fadeInUp col-md-12 list-unstyled list-inline">
                    <li>
                        <h1 class="font-weight-bold text-uppercase">Find your perfect getaway</h1>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="./travelLocations.html"
                           class="btn btn-unique btn-lg btn-rounded mr-0 waves-effect waves-light">Browse Locations</a>
                    </li>
                    <li>
                        <fb:login-button class="fb-login-button" data-width="50" data-max-rows="1" data-size="large"
                                         data-button-type="login_with" data-show-faces="false"
                                         data-use-continue-as="false" autologoutlink="true"></fb:login-button>
                    </li>
                </ul>
            </div>
        </div>
        <!--/.Mask-->
    </div>
    <div id="base">
        <div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1" data-slide-to="1"></li>
                <li data-target="#carousel-example-1" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">
                </div>
                <!--/.First slide-->

                <!--Second slide -->
                <div class="carousel-item">
                </div>
                <!--/.Second slide -->

                <!--Third slide-->
                <div class="carousel-item"></div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

            <!--Controls-->
            <!--<a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">-->
            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
            <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">-->
            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
            <!--<span class="sr-only">Next</span>-->
            <!--</a>-->
            <!--/.Controls-->
        </div>

    </div>
</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>


</body>
</html>