<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Travel Locations</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/travelLocations.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		
		<script src="../js/controllers/TravelLocationController.js"></script>
		<script src="../js/controllers/LocationFeatureController.js"></script>
		<script src="../js/controllers/FeatureRatingController.js"></script>
		
		<script src="../js/services/TravelLocationService.js"></script>
		<script src="../js/services/LocationFeatureService.js"></script>
		<script src="../js/services/FeatureRatingService.js"></script>
		
		<script src="../js/core.js"></script>
	
	</head>
	<body ng-controller="mainController">
		<div class="container">
	
			<div id="location-list" class="row">
				<div class="col-sm-4 col-sm-offset-4">
	
					
					<div ng-repeat="location in locations">
						<label>
							<input type="checkbox" ng-click="highlightLocation(location._id)"> {{ location.name }}
						</label>
					</div>
	
					<p class="text-center" ng-show="loading">
						<span class="fa fa-spinner fa-spin fa-3x"></span>
					</p>
	
				</div>
			</div>
	
			<div id="process-data" class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<button type="submit" class="btn btn-primary btn-lg" ng-click="processData()">Process Data</button>
				</div>
			</div>
	
	
		</div>
	
	</body>
</html>